torch
torchvision
torchaudio
insightface
onnx
onnxruntime
onnxsim
fiftyone
opencv-python-headless
albumentations
pandas
scikit-learn
tqdm
rich
fastapi
uvicorn
python-multipart
pillow
pyyaml
pytest
roboflow
git+https://github.com/openai/CLIP.git
